*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
    z-index: 1000;
    font-family: poppins, cursive, sans-serif;
}
:root{
--bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
}

html{
    font-size: 62.5%;
}
body{
    position: absolute;
    width: auto;
    background:rgb(49, 49, 49);
  
}
.nav-bar{
    margin-left: 6px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(231, 229, 228);
    margin-top: 3px;
    margin-right: 3px;
    background-color: rgb(221, 244, 252);
    width: 100vw auto;
       
}

.main:visited{
    color: var(--bs-secondary);
}

.nav-bar:hover{
    background-color: rgb(243, 239, 252);
    color: #eceef1;
}


.fa-solid {
    margin-right: 4px;
}
.nav-links{
    margin-left: 120px;

}
.nav-links a, label{
    margin-left: 6px;
    text-decoration: none;
    font-size: 16px;
    padding:0.5rem; 
    justify-content: center;
    text-align: center;
}

.search{
    border-bottom: 2px solid gray;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: none;
}
.btn-info{
    margin-left: -4px;
    border-right: none;
    margin-bottom: 2px;
    border-left: none; 
    font-weight: 400;
}
.logo{
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: -40px;
    border-right:1px solid #343a40;
    border-radius: 1rem;
}
.profile{
 width: 430px;
 height: 700px;
 float:left;
 text-align: center;
 background-color: #adb5bd;
 justify-content: center;
 margin-left: 2px;
 border-radius: 2rem;
 margin-top: 10px;
 
}

.brands{
    margin-left: 10%;
    margin-top: -10px;
}


.php{
    margin-left:24px;
    text-shadow:#fd7e14;
    font-weight: 900;
    font-size-adjust: var(--bs-gray);
    width: 100vh;
    margin-right: 20px;
    margin-left: 60px;
    padding-bottom: 4rem;
    margin-top: -15px;
    
}
.bran{
    margin-left: 40%;
    margin-top: -37px;
}

.brands{
    
    background-color: #198754;
    height:70px;
    margin-bottom: 10px;
    margin-top: -15px;
}
.brand{
    width:65px;
    margin-left: 50px;
    cursor: pointer;
    margin-top: -25px;
    color:var(--bs-primary);
    
}
.profile-pic{
    width: 430px;
    height: 380px;
    background-color: antiquewhite;
    margin-top: 0.rem;
    margin-left:px;
    margin-right: 20px;
    border-radius:10px;
}
.pic{
    border-radius: 50%;
    width: 320px;
    height: 350px;
    margin-left: -75px;
    margin-top: -40px;
    float: left;
    margin-left: -50px;
}
.head-name{
    float:right;
    margin-top: -360px;
    margin-bottom: 0;
    border-bottom: 20px solid #fff;
    font-size: large;
    color:coral;
    margin-left: 146px;
    padding-right: 1rem;
    font-family: sans-serif;
    padding-bottom:1rem;
}
.main-area{
    margin-top: -70%;
    
    
}
.job-title-one{
    font-size: 14px;
    margin-left: -20%;
}
.email{
    color:var(--bs-primary);
    margin-right: -100px;
    margin-left: 60px;
    margin-bottom: 0;
}
.email2{
    color:var(--bs-primary);
    margin-top: 80px;
    margin-left: 170px;
}
.btn-primary{
    margin-left: -40px;
    
    
}
.icons{
    
    display: inline-flex;
    width: 400px;
    margin-top: 20px;
    background: #fff;
    border-radius: 1rem;
    
    margin-left: -18px;
}
.fa-brands{
    width:18px;
    height: 3px;
    font-size: 25px;
margin: 3px 15px;
}
.fa-github{
  color:rgb(0, 0, 0);
}
.fa-youtube{
    color:rgb(255, 0, 0);
  }
  .fa-twitter{
    color:rgb(143, 139, 139);
  }
  .fa-instagram{
    color:#000;
  }
  .social{
    font-size: 12px;
    color:var(--bs-gray);
    padding-top: -1rem;
  }
  .arrow{
    color: #d33c16;
    font-size: 10px;
    width: 8px;
    margin-top: 8px;
    padding-bottom: 1rem;
  }
  .box{
    float: left;
   
  }
  .register{
    margin-left: -110px;
  }
  .two{
    align-items: start;
    justify-content: center;
    color:#fff;
    float: ;
   }
